body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  background-color: #505050;
  height: 100vh;

}


.header{
  background-color:#00d8ff;
  color:#fff;
  padding:20px 10px;

}
.header h3{
  color:#fff;
  margin:0;
}

footer{text-align: center;}

.main_note{
  background-color: #fff;
  border-radius: 4px;
  /* border: 1px solid #e0d8d8; */
  width: 400px;
  margin:70px auto;
  
 

}
.formbox{
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 10px 10px;
  background-color: #3c3b3b;
}
.save{
  border-radius: 50%;
  height: 30px;
  width: 30px;
  border:unset;
  background-color:#524f4f;
  color:#00d8ff;
  font-size: 10px;
  vertical-align: middle;
  text-align: center;
  position: absolute;
  bottom:-15px;
  right: 10px;
  box-shadow: -1px 2px 5px 1px #3e3b38;
  cursor: pointer;
  transition: 0.9s all;

}
.save:hover, .save:focus{
  border:unset;
  outline: 0;
  background-color:#00d8ff;
  color:#fff;

}

.form-control{
  
  outline: 0;
  border:1px solid #e0d8d8;
  margin-bottom: 10px;
  padding: 10px 10px;
  border: unset;
  background-color: unset;
  color:#fff;
  transition: anim 0.9s all;

  /* transition: 0.9s all; */
}
.form-control:focus {
  border-bottom: 1px solid #00d8ff;

}

.mynote{
  background-color: #3c3b3b;
  border-radius: 4px;
  margin:20px 20px;
  padding:10px;
  width: 200px;
  border-left: 3px solid #00d8ff;
  color:#fff;
  box-shadow: 1px 1px 6px 0px #3a3737;
  position: relative;
}

.mynote h3{font-size: 14px;}
.mynote span{
  border-radius: 50%;
  height: 40px;
  width: 40px;
  border:unset;
  background-color:#524f4f;
  color:#00d8ff;
  font-size: 20px;
  vertical-align: middle;
  text-align: center;
  position: absolute;
  bottom:-15px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: -1px 2px 5px 1px #3a3737;
  cursor: pointer;
  transition: 0.9s all;
}

.mynote span:hover{
background-color: #00d8ff;
color:#fff;
}

footer{
  position: absolute;
  left:50%;
  bottom: 0;
  transform: translate(-50% , -50%);
}

footer p{
  color:#00d8ff;
}
.fl{float: left;}
.all-addnote{display: flex; flex-direction: row;}

.filter-main{
  padding: 20px;
  float: right;
  position: relative;
}

.filter-main input[type="text"]{
  background-color: #3c3b3b;
  padding:  10px 90px 10px 10px; 
  border-radius: 4px;
  color:#fff;

}
.filter-main input[type="text"]:focus{
  border: 1px solid #00d8ff !important;
  outline: 0;

}
input:focus::-webkit-input-placeholder {
  color:#00d8ff;
}
.filter-main:focus ~ .search{
  color:#00d8ff !important;
}

.filter-main .search{
  color:#7b7777;
  position: absolute;
  right:30px;
  top: 30px;
}
